@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");

html {
  /* padding will stretch the page 
    prevents from happening horizontal scroll bar*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* min-height: 100vh; /*stretch the height 100%* */
  background-color: whitesmoke;
  text-align: center;
  background-color: #fcfaff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23090909' fill-opacity='0.49'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  position: absolute;
  height: 60%;
  /* width: 40%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  background-color: rgba(0, 128, 128, 0.925);
  border-radius: 5%;
}
.container .title {
  padding-top: 5%;
  font-size: 3rem;
  letter-spacing: 1px;
  font-family: "Hanalei Fill", cursive;
}

.container .list-display {
  display: flexbox;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todos {
  font-size: 1.5rem;
  text-align: center;
  list-style-type: none;
  border-radius: 2px;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.466);
  margin-bottom: 15px;
}
.clear {
  top: 90%;
}
@media screen and (max-width: 767px) {
  .container {
    /* margin: 1px; */
    width: 90%;
    /* height: 0%; */
  }
  .container .title {
    font-size: large;
    letter-spacing: 2px;
  }
}
